@using SC_Pet_Claim.Models;

<!DOCTYPE html>
<html lang="en">
<head>


    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            originalLocation: document.location.protocol + '//' +
                document.location.hostname +
                document.location.pathname +
                document.location.search
        });
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WNW5TJ');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <base href="/make-a-claim/">
    <title>Make a pet insurance claim | Southern Cross Pet Insurance</title>


    <meta http-equiv="Cache-Control" content="max-age=0, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Make a claim in three easy steps. Complete an online claim form, attach your invoices, confirm everything is correct and submit your claim." />
    <meta name="keywords" content="" />
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="Make a pet insurance claim | Southern Cross Pet Insurance">
    <meta property="og:image" content="https://www.southerncrosspet.co.nz/Content/images/make-a-claim/make-a-claim-hero.jpg">
    <meta property="og:description" content="Make a claim in three easy steps. Complete an online claim form, attach your invoices, confirm everything is correct and submit your claim.">
    <meta property="og:url" content="https://www.southerncrosspet.co.nz/make-a-claim/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Make a pet insurance claim | Southern Cross Pet Insurance">
    <meta name="twitter:des" content="Make a claim in three easy steps. Complete an online claim form, attach your invoices, confirm everything is correct and submit your claim.">
    <meta name="twitter:image" content="https://www.southerncrosspet.co.nz/Content/images/make-a-claim/make-a-claim-hero.jpg">
    <link rel="canonical" href="https://www.southerncrosspet.co.nz/make-a-claim">

    <link rel="apple-touch-icon" sizes="57x57" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.southerncrosspet.co.nz/Content/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://www.southerncrosspet.co.nz/Content/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.southerncrosspet.co.nz/Content/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.southerncrosspet.co.nz/Content/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.southerncrosspet.co.nz/Content/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://www.southerncrosspet.co.nz/Content/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://www.southerncrosspet.co.nz/Content/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#008BCE">

    @Html.InlineStyles("~/Content/criticalStyles", "~/Content/criticalStyles")
    <link rel="preload" as="image" href="/make-a-claim/Content/images/hero-mobile@2x.jpg" media="all and (max-width: 767px)" />
    <link rel="preload" as="image" href="/make-a-claim/Content/images/hero.jpg" media="all and (max-width: 767px)" />
    <link rel="preload" as="image" href="/make-a-claim/Content/images/hero@2x.jpg" media="all and (max-width: 1100px)" />
    <link rel="preload" href="@Styles.Url("~/Content/styles")" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://use.typekit.net/xnx4ddp.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body id="mainbody">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNW5TJ"
                height="0" width="0" style="display:none;visibility:hidden" title=""></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Partial("_Header")


    @RenderBody()




    @Html.Partial("_Footer")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Scripts.Render("~/bundles/angular-dev")

    }
    else
    {
        @Scripts.Render("~/bundles/angular-prod")
    }
    <script>
        var lazyLoadInstance = new LazyLoad();
    </script>
</body>
</html>
